
    body{
        background-image: url(barca.jpg);
        background-size: cover;
        color: white;
    }
    .header{
        text-align: center;

    }
    .ansu{
        width: 300px;
        height: 300px;
        color: bisque;
        background-image:url(ansu-fati.avif) ;
        background-position: center center;
        background-size: cover;
        box-shadow: 2px 2px 20px  inset red;
        border-radius:6px 15% 10px 15% ;
        padding: 10px 10px 10px 10px;
        border: 2px solid blue;
        outline: 2px solid yellow;
        margin-left: 50px;

    
        
    }
    .pedri{
        width: 300px;
        height: 300px;
        color: bisque;
        background-image:url(pedri.jpeg) ;
        background-position: center center;
        background-size: cover;
        box-shadow: 2px 2px 20px  inset blue;
        border-radius:6px 15% 6px 15% ;
        padding: 10px 10px 10px 10px;
        border: 2px solid red;
        outline: 2px solid yellow;
        margin-left: 100px;

    }
    .gavi{
        width: 300px;
        height: 300px;
        color: bisque;
        background-image:url(gavi.jpg) ;
        background-position: center center;
        background-size: cover;
        box-shadow: 2px 2px 20px  inset red;
        border-radius:6px 15% 6px 15% ;
        padding: 10px 10px 10px 10px;
        border: 2px solid blue;
        outline: 2px solid yellow;
        margin-left: 150px;

        /* margin-left: 20px; */
    }
    div{
        display: inline-block;
    }
    .araujo{
        width: 300px;
        height: 300px;
        color: bisque;
        background-image:url(araujo.jpg) ;
        background-position: center center;
        background-size: cover;
        box-shadow: 2px 2px 20px  inset blue;
        border-radius:6px 15% 6px 15% ;
        padding: 10px ;
        border: 2px solid red;
        outline: 2px solid yellow;
        position: relative;
        margin-left: 100px;
        margin-top: 20px

        /* margin-left: 20px; */
        /* outline-offset: 5px; */
        
    }
    .nico{
        width: 300px;
        height: 300px;
        color: black;
        background-image:url(nico.jfif) ;
        background-position: center center;
        background-size: cover;
        box-shadow: 2px 2px 20px  inset blue;
        border-radius:6px 15% 6px 15% ;
        padding: 10px 10px 10px 10px;
        margin-top: 20px;
        border: 2px solid red;
        outline: 2px solid yellow;
        position: relative;
        margin-left: 50px;
    }
    .kessie{
        width: 300px;
        height: 300px;
        color: bisque;
        background-image:url(kessie.jpeg) ;
        background-position: center center;
        background-size: cover;
        box-shadow: 2px 2px 20px  inset blue;
        border-radius:6px 15% 6px 15% ;
        padding: 10px ;
        border: 2px solid red;
        outline: 2px solid yellow;
        position: relative;
        margin-left: 150px;
        margin-top: 20px


    }
    